@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
  background: #ffffff;
}

.dark-mode {
	background: #000000 !important;
}

.toggle_dark_light_wrapper {
	padding: 100px 50px;
}

.dark-mode .toggle_dark_light_wrapper h2 {
	color: #ffffff !important;
}

.toggle_dark_light_wrapper h2 {
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 30px;
}

.toggle_dark_light_wrapper p {
	font-size: 20px;
}

.dark-mode .toggle_dark_light_wrapper p {
	color: #ffffff !important;
}

.toggle_dark_light_wrapper button {
	padding: 0 20px;
	height: 45px;
	color: #000000;
	border: 1px solid #000000;
	background: transparent;
	cursor: pointer;
	margin-top: 30px;
}

.dark-mode .toggle_dark_light_wrapper button  {
	border: 1px solid #ffffff !important;
	color: #ffffff !important;
}